/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider { position: relative; margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

.flex-overlay {
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 70%;
        background-color: transparent;
        z-index: 9999;
    }

/* FlexSlider Default Theme
*********************************/
.flexslider ul.slides,
.flexslider ul.slides li {
	position: relative;
	overflow: hidden;
}

.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px;}

/* Direction Nav */

.flex-direction-nav {
	text-align: center;
	width: 100%;
	margin-top: 10px;
}

.flex-direction-nav li {
	display: inline-block;
	margin-left: 10px;
}

.flex-direction-nav li:first-child {
	margin-left: 0;
}

.flex-next, .flex-prev {
	font-family: "FontAwesome"; 
	font-size: 10px;
	text-align:center;
	transition: all 0.2s ease-in-out;
	color: inherit;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.flex-next:hover, .flex-prev:hover {
	text-decoration: none;
}

.flex-next:before { content:'\f054'; }
.flex-prev:before { content:'\f053'; }

.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { width: 100%; text-align: center; margin-top: 20px; clear:both; }
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a { width: 7px; height: 7px; display: block; background: rgba(25,25,25,1); cursor: pointer; text-indent: -9999px; border-radius: 50%; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; }
.flex-control-paging li a:hover { background: rgba(25,25,25,0.8) }
.flex-control-paging li a.flex-active { cursor: default; transform: scale(1.3,1.3); -ms-transform: scale(1.3,1.3); -webkit-transform: scale(1.3,1.3);}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden; text-align:center;}
.flex-control-thumbs li {width: 24%; display: inline-block; margin: 0 1% 0 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: 1; cursor: pointer; transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; }
.flex-control-thumbs img:hover {opacity: .6;}
.flex-control-thumbs .flex-active {cursor: default; border: 2px solid; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}