#nav-toggle {
	position: absolute;
	top: 10px;
	right: 3px;
	color: inherit;
	display: block;
	text-decoration: none;
}

#nav-toggle:after {
	font-family: "FontAwesome"; 
	font-weight: normal;
	margin-right: 10px;
	font-size: 20px;
	content:'\f039';
	color: inherit;
	display: block;
}

@media screen and (max-width: 767px) {
	
  #nav {
	  position: absolute;
	  top: 0px;
	  left: -181px; 
	  width: 382px;
	  color: rgb(255,255,255);
	  height: 9999px;
	  overflow: hidden;
  }
  
  #nav > ul {
	  background: rgb(10,10,10);
	  padding-top: 20px;
	  padding-bottom: 10px;
  }
  
  #nav > ul > li {
	  height: auto !important;
	  margin-bottom: 10px;
	  display: block;
	  float: none;
	  margin-left: 20px;
	  overflow: auto;
  }
  
  #nav a:hover {
	  text-decoration: underline !important;
  }

  #nav.closed {
	  max-height: 0px;
  }
  
   #nav > ul > li > ul {
	     position: static;
		 top: 30px;
		 border: none;
		 height: 100% !important;
		 padding: 10px 0px;
		 overflow: auto;
		 visibility: visible; 
		 opacity: 1;
		 z-index: 9999;
		 background-color: inherit !important;
		 transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out 0.2s;
		-moz-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out 0.2s;
		-webkit-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out 0.2s;
		-o-transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out 0.2s; 
	 }
	 
	  #nav > ul > li:hover > ul {
		  padding: 10px 0px;
		  overflow: auto !important;
	 }
	 
	 #nav > ul > li.parent:after {
		 display: none;
	 }
	 
	 #nav > ul > li > ul > li {
		 margin-left: 10px;
	 }
	 
	 #nav > ul > li > ul > li > ul > li {
		 margin-left: 10px;
	 }
	 
}

@media screen and (min-width: 768px) {
  #nav {
    position: relative;
  }
  
  #nav.closed {
    max-height: none;
	display: block;
  }
  
  #nav-toggle {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
	
	#nav-toggle, #nav {
		top: -110px;
	}
	
	#nav {
	  left: 0;
	  width: 220px;
	  color: rgb(255,255,255);
	  height: 9999px;
	  overflow: hidden;
  }
	
}