@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

/*-------------------------------------------------------------
	 Estruturas Gerais
---------------------------------------------------------------*/

body {
    background: #ffffff;
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: background-color .4s linear, color .4s linear;
}
    a:hover,
    a:focus {
        text-decoration: none;
  color:#01b2fe;	
    }
	
	blockquote{
		 border-left: 6px solid #ccc;
		font-style: italic;
		background-color: #f9f9f9;
	}

/*-------------------------------------------------------------
	 Modificações no Bootstrap
---------------------------------------------------------------*/

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 15px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #00b3fe;
    }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}

panel-primary {
  border-color: #384452;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #384452;
}
.panel-primary > .panel-heading .badge {
  color: #384452;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #384452;
}

/*	################################################################
	SITE
################################################################# */

#headerwrap {
    background-color: #00b3fe;
    min-height: 550px;
    padding-top: 100px;
    padding-bottom: 0px;
    text-align: center;
}

#content {
    padding-top: 70px;
    padding-bottom: 0px;
}

    #content h1 {
        font-size: 50px;
    }

#headerwrap h3 {
    font-size: 35px;
    color: white;
    font-weight: 400;
}

#headerwrap h5 {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

#headerwrap h1 {
    color: white;
    margin-bottom: 25px;
    font-size: 50px;
}

#headerwrap .img-responsive {
    margin: 0 auto;
}


/* Footer */
#footerwrap {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #384452;
}

    #footerwrap p {
        color: #bfc9d3;
    }

    #footerwrap h4 {
        color: white;
    }

    #footerwrap i {
        font-size: 30px;
        color: #bfc9d3;
        padding-right: 25px;
    }

        #footerwrap i:hover {
            color: #00b3fe;
        }

#add {
    margin-left: 70px;
}

#myTableData {
        width: 1100px;
}

#myTableData2 {
        width: 800px;
        margin-top: 30px;
}


/* Sidebar Left*/
#masthead {
}

.affix-top, .affix {
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top: 30px;
        width: 228px;
    }

    #sidebar.affix {
        position: fixed;
        top: 70px;
        width: 228px;
    }
}

#sidebar li.active {
    border: 0 #00b3fe solid;
    border-right-width: 6px;
}

